body {
    background-color: rgb(232, 219, 204);
}

.profile-pic {
    width: 23%; 
    height: 500px;
    border-radius: 15%;
    border: 1px solid black;
    margin: 0 0 0 20px;
}

.centered-text {
    text-align: center;
}

.profile-and-hobby {
    display: flex;
    gap: 30px;
}

.hobbies {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.table-education, th, td, caption {
    border: 2px solid black;
    border-collapse: separate;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}

.footer:hover {
    background-color: rgb(226, 200, 171);
    transition: 0.5s;
}

a {
    color: rgb(13, 13, 184)
}

a:hover {
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 1px 5px rgba(0,0,0,0);
}
